<ul>
{% for o in exposition.oeuvres %}
    <li>    
        <h5>Emplacement de {{ o.titre }} : {{ o.emplacement }}</h5>
    </li>
{% endfor %}
</ul>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center my-3">
    <button class="btn btn-info">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
