{% extends 'base.html.twig' %}

{% block title %}Expositions{% endblock %}

{% block body %}
    <h1>Expositions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exposition.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ exposition.nom }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{{ exposition.dateDebut ? exposition.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_fin</th>
                <td>{{ exposition.dateFin ? exposition.dateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nb_vues</th>
                <td>{{ exposition.nbVues }}</td>
            </tr>
            <tr>
                <th>Description_fr</th>
                <td>{{ exposition.descriptionFr }}</td>
            </tr>
            <tr>
                <th>Description_en</th>
                <td>{{ exposition.descriptionEn }}</td>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ exposition.ordre }}</td>
            </tr>
            <tr>
                <th>Oeuvre</th>
            {% for o in exposition.oeuvres %}
                <td>{{ o.titre }}</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('expositions_index') }}">back to list</a>

    <a href="{{ path('expositions_generate', {'id': exposition.id}) }}">Générer Qr Codes</a>

    <a href="{{ path('expositions_edit', {'id': exposition.id}) }}">edit</a>

    {{ include('expositions/_delete_form.html.twig') }}
{% endblock %}
