{% extends 'base.html.twig' %}

{% block title %}{{oeuvre.titre}}{% endblock %}

{% block body %}
<body class="bg-dark">
    

<div class="container">
        <div class="text-center">
            <h2 class="text-warning script">{{oeuvre.titre}}</h2>
        </div>
        
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %}

    <div class="row">
    {% if oeuvre.type == 'Tableau' %}
        <div class="col-sm-12 p-3">
                <div class="card">
                    <img src="{{asset('uploads/media/')}}{{oeuvre.path}}" alt="Expositions" class="card-img-top">
                    <div class="text-center mt-2 card-body">
                        <p class="card-title text-dark">Réalisé par {{ oeuvre.artiste.prenom }} {{ oeuvre.artiste.nom }}</p>
                        <p class="card-text text-dark">
                            {{ oeuvre.descriptionFr }}
                        </p>
                    </div>
                </div>
        </div>
    {% elseif oeuvre.type == 'Vidéo' %}
        <div class="col-sm-12 p-3">
                <div class="card">
                    <video src="{{asset('uploads/media/')}}{{oeuvre.path}}" alt="Expositions" class="card-img-top" controls>
                    <div class="text-center mt-2 card-body">
                        <p class="card-title text-dark">Réalisé par {{ oeuvre.artiste.prenom }} {{ oeuvre.artiste.nom }}</p>
                        <p class="card-text text-dark">
                            {{ oeuvre.descriptionFr }}
                        </p>
                    </div>
                </div>
        </div>
    {% elseif oeuvre.type == 'Musique' %}
        <div class="col-sm-12 p-3">
                <div class="card">
                    <img src="{{asset('img/music.png')}}" alt="Musique" class="card-img-top">
                        <div class="card-body">
                            <div>
                                <audio src="{{asset('uploads/media/')}}{{oeuvre.path}}" alt="Oeuvre" controls>
                            </div>
                    <div class="text-center mt-2 card-body">
                        <p class="card-title text-dark">Réalisé par {{ oeuvre.artiste.prenom }} {{ oeuvre.artiste.nom }}</p>
                        <p class="card-text text-dark">
                            {{ oeuvre.descriptionFr }}
                        </p>
                    </div>
                </div>
        </div>
    {% endif %}

    </div>
</div>
</body>
{% endblock %}
