{% extends 'base.html.twig' %}

{% block title %}Les Oeuvres{% endblock %}

{% block body %}
    <h1>Les Oeuvres</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>n°</th>
                <td>{{ oeuvre.id }}</td>
            </tr>
            <tr>
                <th>Titre de l'oeuvre</th>
                <td>{{ oeuvre.titre }}</td>
            </tr>
            <tr>
                <th>Joindre</th>
                <td>{{ oeuvre.path }}</td>
            </tr>
            <tr>
                <th>Livré</th>
                <td>{{ oeuvre.livre ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Emplacement</th>
                <td>{{ oeuvre.emplacement }}</td>
            </tr>
            <tr>
                <th>Description en français</th>
                <td>{{ oeuvre.descriptionFr }}</td>
            </tr>
            <tr>
                <th>Description en anglais</th>
                <td>{{ oeuvre.descriptionEn }}</td>
            </tr>
            <tr>
                <th>Type de l'oeuvre</th>
                <td>{{ oeuvre.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('oeuvres_index') }}">Retour vers la liste</a>

    <a href="{{ path('oeuvres_edit', {'id': oeuvre.id}) }}">Modifier l'oeuvre</a>

    {{ include('oeuvres/_delete_form.html.twig') }}
{% endblock %}
